@media screen and (max-width: 968px) {
  .container {
    flex-direction: column;
  }
  .input-group {
    width: 100%;
  }
  .img-box {
    width: 100%;
  }
}
.img-box {
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.575);
}
